@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
body{
    background-color: #1B1B1B;
    margin: 0px;
    color: #E4E4E4 ;
    font-family: 'Indie Flower', cursive;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 8% auto 6%;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";

   

}
/* --------------------Header part----------------------------*/
header{
    grid-area: header;
    text-align: center;
    font-size: 2.5em;
    color: #F1684E;
    top: 0;
    position: fixed;
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: inherit;
    z-index: 1;
    padding: 5px;
    height: fit-content;
    
   
}
/* --------------------Navigation bar part----------------------------*/
nav{
    grid-area: nav;
    font-size: 2em;
    position: fixed;
    display:inline-block;
    height: 100%;
}
#menu{
    list-style: none;
    overflow: hidden;
    float: left;
    margin-top: 2em; 
    text-align: center;
    
}
#menu >li{   
    margin: 1em 10px auto 0;
    color: #F1684E;
    padding: 10px 0 10px 10px;
    
    
      
}
#menu a{
   text-decoration: none; 
   color: inherit;
   width: auto;
   padding: 10px;
    
   
}

    
    
    

#menu a:hover{
    text-shadow: 3px 3px black ;
    background-color:#363434 ;
    border-radius: 30px;
}
#menu a:after{
    text-shadow: 3px 3px black ;
    background-color:#363434 ;
    border-radius: 30px;
}
/*----------------------Main part bar part------------------*/

  

#main{   
    grid-area:main;
    display: grid;
  
    grid-template-rows: auto auto auto auto auto ;
    grid-template-columns: 35% 15% 15% auto ;
    grid-gap: 1em;
    font-size: 20px;
    text-decoration: none;
    grid-template-areas: 
    "photo info1 info1 info1"
    "info2 info2 info2 ."
    ". info3 info3 info3"
    "info4 info4 info4 ."
    "info5 info5 info5 info5";
    
   
} 
#main>div{
    padding: 1em;

}
#main a{
    color:inherit;
    border: solid 1px white;
    border-radius: 25px;
    padding :10px;
text-decoration: none;
}
#main a:hover{
    background-color: #F1684E;
}
/*-------image-------------*/
#me_img{
  grid-area: photo;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}
#me_img>img{
    margin: 10px;
    border-radius: 125px;
}
/*------------first writing-----------*/
#about_me{
    grid-area: info1;
   text-align: center;
  
}
#greeting{
    font-size: 3em;
   
    
}
/*------------  2 and after-----------*/
#journey_start{
    grid-area: info2;
   
    background-color:  #368cbf ;
    border-radius: 10px;
}
#favorite{
    grid-area: info3;
    
    background-color:  #7ebc59;
    border-radius: 10px;
}
#professor_web{
    grid-area: info4;
   
    background-color:  #fbb7a6;
    border-radius: 10px;
    color: #607683 ;
}
#professor_web a{
    text-decoration: none;
}


#part2{
    grid-area: info5;
    border: white solid 1px;
    border-radius: 15%;
    width: 90%;
}
#part2 a {
    text-decoration: none;
    color: lightskyblue;
    
}
#part2 li{
    list-style:none;
    padding-bottom: 1.5em;
    line-height: 1.8em;
    
}

/*----------------------Footer part bar part------------------*/

footer{
    grid-area:footer;
    justify-content: center;
    background-color:  #363434 ;
    color: ivory;
    bottom: 0;
    width: 100%;
    min-height: fit-content;
    margin-bottom: 0;
    z-index: 1;
    height: 5em;
    
   
   
    
}

footer  a{
    
   margin: 10px 10px 0 10px; 
    text-decoration: none;
    font-size: 30px;
    color: black;
}

#icons{
    display: flex;
    justify-content: center;
}
/*----------------Contact Page------------------*/
#main2{
    grid-area: main;
    height: fit-content;
    margin: 0 2em 2em 2em;
    
    
}
form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1.5em;
  padding: 1em;
}
#submit{
    font-size: 1.3em;
    background-color:#363434;
    font-family: inherit;
    color: #F1684E;
    
    

}
input{
    background-color:#368cbf ;
    font-family: inherit;
    border:solid 2px  #f3efef;
    font-weight: bold;
}
#info{
    width: 40em;
    height: 10em;
    resize: none;
    background-color: #368cbf;
    border-radius: 20px;
    border:solid 2px  #f3efef;
}
/*----------------Assignment Page------------------*/

#main3{
    grid-area: main;
    height: 100vh;
    
    margin: 2em 30% 2em 20%;
    
    
}
#main3>li{
    text-decoration: none;
    list-style: none;
    color: inherit;
    margin-left: 20px;
    margin: 3em;
    
}
#main3>li:hover{
    
    color: midnightblue;
}
#main3 a{
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
    background-color:  #7ebc59;
    padding: 10px;
    border-radius: 20px;
}
#main3 a:hover{
    box-shadow: 3px 3px 3px 0 rgb(25, 112, 37);
}
/*----------------Meetup------------------*/
#main4{
    grid-area: main;
    margin: 1em;
    color: burlywood;
}
#main4 a{
    text-decoration: none;
    color: cyan;
}
code{
    background-color: rgb(216, 207, 207);
    color: black;
    
}
#main4 li{
    list-style-type: square;
    font-size: 1.2em;
}
h2{
    text-decoration: underline;
    text-emphasis: bold;
}